<div class="flex">
  <app-aside></app-aside>

  <!-- dirty styling but it is just once, and once is not counted! -->
  <section style="width: 100%">
    <!-- for future implementations 
    [paginator]="true" 
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 15, 30]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    -->

    <p-table
      #dt
      [value]="products"
      [(selection)]="selectedProducts"
      [resizableColumns]="true"
      [rowHover]="true"
      [rows]="30"
    >
      <ng-template pTemplate="header">
        <!-- Table header  -->
        <tr class="bold">
          <!-- <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th> -->

          <th pSortableColumn="name" pResizableColumn>
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>

          <th pSortableColumn="category" pResizableColumn>
            Category <p-sortIcon field="category"></p-sortIcon>
          </th>

          <th pSortableColumn="inventoryStatus" pResizableColumn>
            Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
          </th>

          <th pSortableColumn="price" pResizableColumn>
            Price <p-sortIcon field="price"></p-sortIcon>
          </th>
        </tr>

        <!-- Table Inputs for searches  -->
        <tr>
          <th>
            <input
              pInputText
              type="text"
              (input)="dt.filter($any($event.target).value, 'name', 'contains')"
              [value]="$any(dt.filters['name'])?.value"
              placeholder="Search by Name"
            />
          </th>

          <th>
            <input
              pInputText
              type="text"
              (input)="
                dt.filter($any($event.target).value, 'category', 'contains')
              "
              [value]="$any(dt.filters['category'])?.value"
              placeholder="Search by Category"
            />
          </th>

          <th>
            <input
              pInputText
              type="text"
              (input)="
                dt.filter(
                  $any($event.target).value,
                  'inventoryStatus',
                  'contains'
                )
              "
              [value]="$any(dt.filters['inventoryStatus'])?.value"
              placeholder="Search by Status"
            />
          </th>

          <th>
            <input
              pInputText
              type="text"
              (input)="
                dt.filter($any($event.target).value, 'price', 'contains')
              "
              [value]="$any(dt.filters['price'])?.value"
              placeholder="Search by Price"
            />
          </th>
        </tr>
      </ng-template>

      <!-- Table body  -->
      <ng-template pTemplate="body" let-product>
        <!-- Name column -->
        <tr [pSelectableRow]="product">
          <td>
            {{ product.name }}
          </td>

          <!-- Category column-->
          <td>
            <span> {{ product.category }} </span>
          </td>

          <!-- Status column -->
          <td>
            <p-tag
              [value]="product.inventoryStatus"
              [severity]="getSeverity(product.inventoryStatus)"
            ></p-tag>
          </td>

          <!-- Price column -->
          <td>
            <span> {{ product.price | currency : "EUR" }}</span>
          </td>
        </tr>
      </ng-template>

      <!-- Message for the if no matches were found  -->
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">No products found.</td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</div>
