<aside class="padding-box">
  <header>
    <h1 class="aside-header">
      <a class="header-link" href="/main"> Licenses</a>
    </h1>
  </header>

  <nav role="navigation">
    <ul>
      <li class="margin-bottom">
        <a href="/houdini" class="aside-link">
          <strong> Houdini </strong>
        </a>
      </li>

      <li class="margin-bottom">
        <a href="#" class="aside-link">
          <strong> Nuke </strong>
        </a>
      </li>

      <li class="margin-bottom">
        <a href="#" class="aside-link">
          <strong> Renderman </strong>
        </a>
      </li>

      <li class="margin-bottom">
        <a href="#" class="aside-link">
          <strong> Gaea </strong>
        </a>
      </li>
    </ul>
  </nav>
</aside>
